<nav class="drupal-webring-club" aria-labelledby="drupal-webring-club">
  <h2 id="drupal-webring-club">Member of the Drupal Webring Club</h2>
  <p>This site is a member of the <a rel="external" href="{{ meta.url }}/">Drupal Webring Club</a>.</p>
  <ul>
    <li><a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/prev">Previous website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/random">Random website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/next">Next website</a></li>
  </ul>
</nav>
